* {
  font-family: 'Montserrat', sans-serif;
  }

body {
  text-align: left;
}

p {
  font-size: 14px;
}

h5 {
  font-weight: bold;
}

.container {
  width: 75%;
  float: right;
  color: black;
}

.current {
  font-size: 24px;
}

.search-card {
  width: 25%;
  position: relative;
  float: left;
  color: rgb(99, 98, 98);
}


